body {
    margin: 0;
    overflow-x: hidden;
}
/* head{
    scroll-behavior: smooth;
} */
/* Общие стили */
s {
    font-size: 14px;
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* li::marker{
    color: white;
} */
p {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

.grey {
    color: grey;
}

.white {
    color: white;
    font-size: 14px;
    padding-bottom: 7px;
}

.fs-27 {
    font-size: 27px !important;
    margin-bottom: 75px;
    text-align: center;
}

.title span {
    color: #717070;
}

.detailsItem h3 {
    color: #a4a3a3;
    font-weight: 400;
    padding-right: 5px;
    
}
.detailsItem h3 span {
    color: black;
    font-weight: 600;
    margin-right: 5px;
}


/* Специальные (частные) стили */
.headerBlock {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2d2d2d;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.Logo {
    display: flex;
    align-items: center;
    width: 31%;
}

.Logo img {
    width: 100px;
    height: 56px;
}


.dropdown {
    display: block;
}
.btn{
    background: #2d2d2d;
    border: 0;
}
.btn.show, .btn:first-child:active{
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    border: 0;
}
.menuWrp{
    display: none;
}
.headerContact {
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: flex-end;
    cursor: pointer;
}

.headerContact img {
    margin-right: 5px;
}

.introBlock {
    background-color: #2d2d2d;
}
.dropdown img{
    height: 25px;
    width: 20px;
}

.introInfo {
    text-align: center;
    padding: 55px 0;
    max-width: 456px;
    margin: 0 auto;
}

.introInfo h1 {
    font-size: 40px;
    color: white;
}


.introInfo .newprice,
.introInfo .newprice {
    color: white;
}

.introInfo .oldprice {
    font-size: 12px;
    color: grey;
}

.introInfo .newprice {
    font-size: 12px;
    color: grey;
}

.introInfo .newprice p {
    font-size: 12px;
    text-transform: uppercase;
}

.introInfo .oldprice span {
    color: grey;
    font-size: 32px;
    text-transform: none;
    font-weight: 700;
    text-decoration: line-through;
}

.introInfo .newprice span {
    color: grey;
    font-size: 30px;
    text-transform: none;
    font-weight: 700;
}

.introInfo .newprice .txtsize {
    font-size: 14px;
    font-weight: 400;
}

.introInfoPrice {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.introInfoBtn {
    padding-bottom: 20px;
}

.introInfoBtn a {
    padding: 12px 65px;
    background-color: white;
    border-radius: 33px;
    color: grey;
    display: inline-block;
}


.introImg {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.updatesBlock {
    background-color: #2d2d2d;
}

.updatesItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.updatesItem {
    display: flex;
    padding: 15px 3px 15px 11px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-right: none;
}


.updatesItem:last-child {
    border: 0 solid;
}

.updatesItem-circle {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 7px;
    display: flex;
}

.updatesItem p {
    color: white;
    margin-bottom: 0;
    padding-left: 7px;
    font-weight: 700;
    width: calc(100% - 40px);
}

.advantagesBlock {
    padding: 77px 0 0;
    background-color: #eeeeee;
}

.title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 21px;
}


.advantagesItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 90px;
    align-content: flex-start;
    justify-content: flex-start;
    max-width: 500px;
    margin: 0 auto;
}

.advantagesItemImg {
    border-radius: 50%;
    padding: 24px 20px;
    background-color: white;
    box-shadow: 5px 5px 20px 0px #2221213d;
}

.advantagesItemImg img {
    width: 48px;
    height: 48px;
}

.advantagesItemBg {
    margin: 0 auto 25px;
    padding: 17px;
    background-color: white;
    border-radius: 50%;
    width: 130px;
    box-shadow: 3px 3px 8px 0px #2221211a;
}

.advantagesItemHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.advantagesItemHeadingNum {
    padding: 9px 12px;
    background-color: white;
    border-radius: 50%;
    margin-right: -5px;
    box-shadow: 5px 5px 20px 0px #2221213d;
    margin-bottom: 0;
}

.advantagesItemHeadingNum p {
    margin-bottom: 0;
    font-size: 16px;
}

.advantagesItemHeadingTxt {
    padding: 5px 17px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 0;
}

.advantagesItemHeadingTxt h6 {
    margin-bottom: 0;
}

.advantagesItemInfo {
    margin: 0 auto;
    width: 100%;
    padding: 0 72px;
}

.advantagesItemPointer {
    background-color: white;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 17px;
    display: flex;
}

.advantagesLink {
    line-height: 80%;
    margin-top: auto;
    padding-top: 20px;
}

.slider {
    display: flex;
}

.slider img {
    width: 20%;
}

.owl-carousel .owl-item img {
    object-fit: contain;
    object-position: center;
}


.featsBlock {
    padding: 60px 0;
    /* overflow: hidden; */
}

.featsInfo {
    position: relative;

}

.detailsItem {
    border-bottom: 1px dashed #a9a4a4;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.featsHeadphone {
    position: absolute;
    left: 100%;
    bottom: 100%;
    z-index: 2;
    width: 350px;
    transform: translate(-83%, 34%);
    display: none;
}

.detailsItem p {
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    color: white;
    font-size: 14px;
    background-color: #2d2d2dfa;
    flex-direction: column;
    justify-content: center;
}

.detailsItem h3 {
    display: flex;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 0;
    align-content: center;
    flex-wrap: wrap;
    width: calc(100% - 40px);
}

.deliverySetBlock {
    padding: 60px 0;
    background: radial-gradient(white, #8a8a8a);
}

.deliveryPictures {
    display: flex;
    max-width: 870px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.deliveryPicture {
    background-color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.delivery1 {
    padding: 15px;
}

.delivery2 {
    padding: 4px;
}

.cardsBlock {
    padding: 60px 0;
}

.cardContent {
    background-color: #2d2d2dfa;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.cardContent:nth-child(2n) {
    flex-direction: row-reverse;
}

.cardContentInfo {
    padding: 34px;
}

.cardContentInfoBtn a {
    padding: 15px 70px;
    background-color: white;
    border-radius: 33px;
    color: grey;
    display: inline-block;
}

.cardContentInfoBtn {
    text-align: center;
    margin-top: 30px;
}
.cardContentImgF img {
    height: 100%;
    width: 100%;
}
.cardContentInfo {
    padding: 48px;
    width: 100%;
}
.responseBlock {
    background-color: #2d2d2d;
    text-align: center;
    padding-bottom: 88px;
    padding: 46px 0;
}

.responseHeadline {
    padding-bottom: 40px;
    color: white;
    font-size: 27px;
}

.response {
    max-width: 460px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.responseImg {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 20px 0;
}

.responseTxt {
    color: grey;
    position: relative;
}


.responseTxt p {
    margin-bottom: 0;
    padding: 25px 35px;
}


.responseImgF {
    top: 0;
    left: 0;
    width: 30px;
    position: absolute;
    z-index: 2;
    transform: translate(-10%, 100%);
}

.responseImgS {
    width: 30px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
}

.order {
    text-align: center;
    margin-bottom: 100px;
}

.orderInfoBlock {
    padding: 90px 0 0;
}

.orderImg {
    background-color: #232323;
    border-radius: 50%;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.rot45 {
    transform: rotate(45deg);
}

.orderNum {
    border-radius: 50%;
    background-color: #dee2eb;
    width: 70px;
    height: 70px;
    padding: 15px;
    margin: 0 auto;
}

.orderNum p {
    height: 40px;
    width: 40px;
    background-color: #232323;
    color: white;
    border-radius: 50%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderHeadline {
    font-size: 18px;
    padding: 12px 0;
}

.orderTxt {
    padding: 0 70px;
}

.feedback {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feedbackBlock {
    background-color: #2d2d2d;
    padding: 21px 0;
}

.feedbackInfo {
    display: flex;
    margin-bottom: 10px;
}


.feedbackInfo span {
    font-weight: 700;
}

.feedbackInfo img {
    width: 40px;
    height: 35px;
}



.feedbackInfo p {
    text-transform: uppercase;
    color: white;
    padding-left: 5px;
    font-size: 11px;
}


.feedbackCall input {
    padding: 10px 4px 10px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid white;
}
.feedbackCall{
    font-size: 11px;
}
.feedbackCall a {
    margin-left: -3px;
    background-color: #414247;
    padding: 12.9px 30px 13px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.feedbackCall a img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.questionBlock {
    padding: 50px 0;
}

.questions {
    background-color: #2d2d2d;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.questions input::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.questions textarea::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

.questions textarea::-ms-input-placeholder {
    /* Edge 12-18 */
    color: white;
}

.questions input::-ms-input-placeholder {
    /* Edge 12-18 */
    color: white;
}

.questionHeadline {
    text-align: center;
    font-weight: 300;
}

.questionInfo {
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

.questionLink {
    text-align: center;
}

.answers {
    margin-bottom: 20px;
}

.accordion-item {
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
}

.accordion-button {
    background-color: #e4e8ea;
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #e4e8ea;
}

.accordion-collapse {
    background-color: #e4e8ea;
}

.accordion-button:focus {
    border-color: #e4e8ea;
    outline: none;
}

.link {
    font-size: 14px;
    padding: 12px 50px;
    background-color: white;
    border-radius: 33px;
    color: grey;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}


.questionNameInput,
.questionTelInput,
.questionAreaInput {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    color: white;
    background-color: #2d2d2d;
    padding-bottom: 10px;
}

.questionAreaInput {
    padding-bottom: 0;
    border-bottom: 0;
    display: block;
}

.questionName {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 800;
}


.questionTel {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 800;
}


.questionArea {
    border-bottom: 2px solid white;
    padding-bottom: 0;
    font-size: 15px;
    font-weight: 800;
}

.questionTxt {
    font-size: 12px;
    text-align: center;
}


.footerBlock {
    background-color: #2b2d33;
    padding: 20px 0;
}

.footerHeadline {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
}

.footerTxt {
    color: white;
    text-align: center;
    font-size: 9px;
}



@media (min-width: 570px){
    .dropdown{
        display: none;
    }
    .Logo{
        width: 20%;
    }
    .menuWrp{
        display: block;
        width: 48%;
    }
    .headerList{
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .headerContact{
        width: 32%;
    }
    .updatesItem {
        width: 35%;
    }
    .header {
        align-items: stretch;
    }
    .cardContentImgF img {
    height: 531px;
    width: 531px;
    }    
}



@media (min-width: 768px) {
    .introInfo h1 {
        font-size: 46px;
    }
    .Logo {
        width: 15%;
    }
    .dropdown {
        display: none;
    }
    .menuWrp{
        display: block;
        width: 55%;
        order: 0;
        margin-top: 0;
    }
    
    .headerContact {
        width: 23%;
    }
    .headerList {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 0;
        height: 100%;
    }
    .introInfo .newprice span {
        font-size: 30px;
    }

    .introInfoBtn a {
        padding: 15px 70px;
    }
    .updatesItem p {
        width: calc(100% - 40px);
    }
    .updatesItem {
        width: 50%;
        border-right: none;
    }

    .featsHeadphone {
        display: none;
        display: flex;
    }

    .cardContent {
        flex-wrap: nowrap;
    }
    .cardContent {
        background-color: #2d2d2dfa;
        color: white;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .cardContentImgF{
        width: 60%;
    }
    .cardContentInfo{
        width: 40%;
        padding: 44px 15px;
    }
    .cardContentInfo h3{
        font-size: 17px;
    } 
    .cardContentInfo p{
        font-size: 14px;
    }
    .cardContentInfoBtn{
        font-size: 14px;
    }
    .cardContentInfoBtn a{
        padding: 12px 55px;
    }
    .cardContentImgF img {
        height: 100%;
        width: 100%;
    }
    .featsHeadphone{
        display: none;
    }
    .advantagesItem {
        padding-bottom: 85px;
    }
    .advantagesItemBg {
        margin: 0 auto 30px;
    }
    .deliveryPictures {
        flex-direction: row;
        gap: 40px;
        justify-content: space-evenly;
    }

    .footerTxt {
        font-size: 12px;
    }

    .footerHeadline {
        font-size: 14px;
    }

    .feedbackCall a {
        margin-left: -4px;
        padding: 12px 30px 11.9px 30px;
    }
    .responseTxt p {
        padding: 25px 45px;
    }
    .feedbackCall input {
        padding: 9px 25px;
    }

    .questionTxt {
        font-size: 13px;
    }

    .questionInfo {
        font-size: 13px;
    }

    .questionArea {
        font-size: 19px;
    }

    .questionName {
        font-size: 19px;
    }

    .questionTel {
        font-size: 19px;
    }

    .answers {
        margin-bottom: 0;
    }

    .link {
        padding: 15px 70px;
        font-size: 16px;
    }
    .order {
        margin-bottom: 50px;
    }
    
    .title {
        margin-bottom: 60px;
        font-size: 24px;
    }
    .feedback {
        justify-content: center;
        align-items: center;
    }
    .feedbackInfo p {
        font-size: 16px;
    }
    .feedbackInfo img {
        width: 50px;
        height: 50px;
    }
    .feedbackInfo {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 26px;
    }
    .Logo {
        width: 11%;
        display: flex;
        align-items: center;
    }
    .menuWrp{
        display: block;
        width: 70%;
        order: 0;
        margin-top: 0;
    }
    .headerContact {
        width: 17%;
    }
    .advantagesBlock {
        padding: 77px 0;
        background-color: #eeeeee;
    }
    .deliveryPictures {
        gap: 0;
        justify-content: space-between;
    }
    .advantagesItemInfo {
        padding: 0 38px;
    }
    .cardContentImgF{
        width: 45%;
    }
    .cardContentInfo {
        padding: 65px;
        width: calc(100% - 422px);
    }
    .cardContentInfo h3{
        font-size: 23px;
    }
    .cardContentInfo p{
        font-size: 16px;
    }
    .cardContentInfoBtn a {
        padding: 17px 75px;
    }
    .order {
        margin-bottom: 0;
    }
    .feedbackInfo {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

@media (min-width: 1000px) {
    .white {
        font-size: 16px;
    }

    .dropdown {
        display: block;
    }
    .Logo {
        width: 11%;
        display: flex;
        align-items: center;
    }
    
    .menuWrp{
        display: block;
        width: 70%;
        order: 0;
        margin-top: 0;
    }
    .headerContact {
        width: 17%;
    }
    .featsBlock {
        overflow: visible;
    }

    .cardContentImgF img {
        height: 424px;
    }

    .orderInfoBlock {
        padding: 90px 0;
    }
    .orderTxt {
        padding: 0;
    }
    .dropdown {
        display: none;
    }
    
    .introInfo h1 {
        font-size: 54px;
    }

    .introInfo .newprice span {
        font-size: 32px;
    }

    .introInfo {
        padding: 90px 0;
    }

    .updatesItems {
        flex-wrap: nowrap;
    }

    .updatesItem {
        border-right: 1px solid grey;
        width: 100%;
    }

    .advantagesItemInfo {
        padding: 0 56px;
    }

    .advantagesItem {
        padding-bottom: 0;
    }

    .title {
        font-size: 30px;
        margin-bottom: 75px;
    }

    .featsHeadphone {
        display: block;
        width: 300px;
        transform: translate(-67%, 34%);
    }

    .cardContentInfo {
        width: calc(100% - 415px);
    }

}


@media (min-width: 1200px) {
    .updatesItem p {
        width: calc(100% - 72px);
    }
    .cardContentImgF {
        width: 38%;
    }
    .cardContentInfo {
        padding: 85px;
    }
    
}

@media (min-width: 1300px) {
    .updatesItem p {
        width: calc(100% - 108px);
    }
    .cardContentInfo {
        padding: 100px;
    }
    .cardContentImgF {
        width: 32%;
    }
}